<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<style>
			#head{
				text-align: center;
				margin-top: 10px;
			}
		</style>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	</head>
	<body>
		
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Student Analytics</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">Sign Up</a>
					</li>
				</ul>
			</div>
		</nav>
		
		
		<div class="container">
			<h1 id="head">New Login</h1>

			<form action="/newlogin/" method="post">
               {% csrf_token %}
							 <div class="form-group">
							 	<label for="fname">First Name:</label>
							 	<input required type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name">
							 </div>
							 <div class="form-group">
							 	<label for="lname">Last Name:</label>
							 	<input required type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name">
							 </div>
				<div class="form-group">
					<label for="username">Username:</label>
					<input required type="username" class="form-control" id="username" name="username" placeholder="Enter a username">
				</div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<input required type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" >
				</div>

				<div class="form-group">
					<label for="password">Password:</label>
					<input required type="password" class="form-control" id="password" name="password" placeholder="Enter Password" >
				</div>
				<div class="form-group">
					<label for="confirmpassword">Confirm Password:</label>
					<input required type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Re-enter Password">
				</div>
				<input required type="submit" class="btn btn-primary"></input>

			</form>
		</div>

{% if success %}
		<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Django Says:</h4>
      </div>
      <div class="modal-body">
        <p>{{success}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
	</div>
</div>
<script >
	$(window).on("load",function(){
		//alert("lol")
   $('#myModal').modal("show");
	});
</script>

{% endif %}

	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	</body>
</html>
